.learning {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;

  .layer {
    background-color: rgba(255, 255, 255, 0.246);
    width: 80%;
    max-width: 900px;
    border-radius: 15px;

    .right {
      border-left: 1px solid white;
      ul {
        color: white;

        list-style: square outside;
        padding: 27px;


        li{
            margin-bottom: 2rem;
            line-height: 1rem;
            position: relative;
            top:-35px;
            left:-20px;
            &::marker{
                font-size: x-large;
            }  

            span{
                font-size: large;
                line-height: 1.5rem;
                
            }
        }
        
      }

     

      




    }
  }
}
