@import '../../variables.scss';

.project{
    color: black;
    .layer{
        background-color: #ffffff83;
        border-radius: 15px;
      width:250px ;
      min-height: 350px;
        img{
            border-radius: 5px;
            

        }
        .btn{
           color: white !important;
           
        }
    }
}