@import '../../variables.scss';
.skill{
        
    .container{
        background-color: rgba(255, 255, 255, 0.527);
        min-height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        color: black;
        font-weight: bold;
        cursor: pointer;
        &:hover{
            animation-name: moveup;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;
            animation-duration: .35s;
        }
        animation-name: movedown;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;
            animation-duration: .35s;
    }
   
  
}

@keyframes moveup{
    0%{
        position: relative;
        top: 0;
        right:0
    }
    100%{
        position: relative;
        top: -15px;
        right:0
    }


}

@keyframes movedown{
    100%{
        position: relative;
        top: 0;
        right:0
    }
    0%{
        position: relative;
        top: -10px;
        right:0
    }


}