.App{
    
    a{
    color:inherit !important;
    text-decoration: inherit !important;
}

.main-content{
    .overlay{
        background-color:rgba(0, 0, 0, 0.445);
        min-height: 80vh;
    }
    min-height: 80vh;
    background-image:url('./images/intro.jpg');
    background-size: cover;
    color: white;
    text-align: center;
}
}

.loading{
    background: #000;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .spinner-grow{
        margin: 10px ;
    }
}