@import '../../variables.scss';

.intro-section{
    
    #overlay{
        background-color:rgba(0, 0, 0, 0.445);
        min-height: 80vh;
        display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    }

    .typewriter{
        h1{
            font-size: 36px;
        }
        h1,h4{
            display: inline;
        }
        max-width: 700px;

      
    }
  

    .btn-main{
        color: white !important; 
        background-color: black  !important;
        border: 1px solid white  !important;
        width: 150px;
    }

}

